html{
    text-align: center;
    background-color: #c3a7c9;
}

img{
    border: 1px solid black;
    margin-top: 10px;
}

h1{
    font-family: 'Libre Baskerville', serif;
}

.title{
    font-family: 'Libre Baskerville', serif;
    font-size: 38px;
    text-align: center;
}
.timetable{
    background-color:#efefef;
    
}

.picture{
    text-align: center;
}

.info{
    color:brown;
}



footer{
    background-color: burlywood;
}

p{
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
}

.proizvod{
   
    background-color: red;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  }

  li a {
    display: block;
    width: 60px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }

  li{
    border-right: 1px solid #555;
    float: right;
    
  }

  li:first-child{
      border-left: 1px solid #555;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  .active {
    background-color: #81928c;
    color: white;
    float: left;
  }
