html{
    text-align: center;
}

img{
    border: 1px solid black;
    margin-top: 10px;
}

h1{
    font-family: 'Libre Baskerville', serif;
}

.title{
    font-family: 'Libre Baskerville', serif;
    font-size: 38px;
    text-align: center;
}
.timetable{
    background-color:#efefef;
    
}

.special{
    color:rebeccapurple;
    font-size: 25px;
    
}

.picture{
    text-align: center;
}
.info{
    color:brown;
}

.main{
    background-color: #d6d6d6;
}

header{
    background-color: aquamarine;
}

footer{
    background-color: burlywood;
}

p{
    font-size: 20px;
}
